@page
@using Microsoft.AspNetCore.Identity
@using Shopa.Data
@using Shopa.Data.Models
@using Shopa.Web.Services.Contracts
@{
    //ViewData["Title"] = "Home Page";
}

@inject IHomeService HomeService;
@inject ShopaDbContext Context;
@inject UserManager<ShopaUser> _UserManager;

@{
    var user = _UserManager.GetUserAsync(this.User).GetAwaiter().GetResult();
}
@{ var isAuthenticated = User.Identity.IsAuthenticated;}

@*<div class="form-group">
        <a> Hello, there is @HomeService.GetAllProducts().Count products in the app and @Context.Users.Count() registered users.</a>

        <h3>Products List</h3>
        <table class="table-bordered col-lg-10">
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            @foreach (var product in HomeService.GetAllProducts().ToList())
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Category</td>
                    <td><img src="@product.PictureLocalPath" width="60" alt="pic" /></td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                </tr>
            }
        </table>
    </div>*@

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">

            @{ var randomProduct1 = HomeService.GetRandomProduct(); }
            <img src="@randomProduct1.PictureLocalPath" alt="Mercedes" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>@HomeService.CategoryName(randomProduct1)</p>
                <p>@randomProduct1.Price $</p>
                @if (randomProduct1.Description.Length > 30)
                {
                    <p>@string.Join("", randomProduct1.Description.Take(30)) ...</p>
                }
                else
                {
                    <p>@randomProduct1.Description</p>
                }
                <p>
                    <a class="btn btn-default" asp-controller="Products" asp-action="Details" asp-route-id="@randomProduct1.Id">
                        Learn More
                    </a>
                </p>
            </div>
        </div>

        <div class="item">

            @{ var randomProduct2 = HomeService.GetRandomProduct(); }
            <img src="@randomProduct2.PictureLocalPath" alt="Mercedes" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>@HomeService.CategoryName(randomProduct2)</p>
                <p>@randomProduct2.Price $</p>
                @if (randomProduct2.Description.Length > 30)
                {
                    <p>@string.Join("", randomProduct2.Description.Take(30)) ...</p>
                }
                else
                {
                    <p>@randomProduct2.Description</p>
                }
                <p>
                    <a class="btn btn-default" asp-controller="Products" asp-action="Details" asp-route-id="@randomProduct2.Id">
                        Learn More
                    </a>
                </p>
            </div>
        </div>

        <div class="item">

            @{ var randomProduct3 = HomeService.GetRandomProduct(); }
            <img src="@randomProduct3.PictureLocalPath" alt="Mercedes" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>@HomeService.CategoryName(randomProduct3)</p>
                <p>@randomProduct3.Price $</p>
                @if (randomProduct3.Description.Length > 30)
                {
                    <p>@string.Join("", randomProduct3.Description.Take(30)) ...</p>
                }
                else
                {
                    <p>@randomProduct3.Description</p>
                }
                <p>
                    <a class="btn btn-default" asp-controller="Products" asp-action="Details" asp-route-id="@randomProduct3.Id">
                        Learn More
                    </a>
                </p>
            </div>
        </div>

        <div class="item">

            @{ var randomProduct4 = HomeService.GetRandomProduct(); }
            <img src="@randomProduct4.PictureLocalPath" alt="Mercedes" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>@HomeService.CategoryName(randomProduct4)</p>
                <p>@randomProduct4.Price $</p>
                @if (randomProduct4.Description.Length > 30)
                {
                    <p>@string.Join("", randomProduct4.Description.Take(30)) ...</p>
                }
                else
                {
                    <p>@randomProduct4.Description</p>
                }
                <p>
                    <a class="btn btn-default" asp-controller="Products" asp-action="Details" asp-route-id="@randomProduct4.Id">
                        Learn More
                    </a>
                </p>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<hr />
<h3> All our latest products</h3>
<table class="table">
    <thead>
        <tr>
            @if (isAuthenticated)
            {
                <th style="text-align: center">Add To Favorites</th>
            }
            <th style="text-align: center">Photo</th>
            <th style="text-align: center">Price</th>
            <th style="text-align: center">Description</th>
            <th style="text-align: center">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produ in Context.Products.OrderByDescending(x => x.TimeOfCreation).ToList())
        {
            <tr style="text-align: center">
                @if (isAuthenticated)
                {
                    <td>
                        @if (!user.Products.Contains(produ))
                        {
                        <a asp-controller="Products" asp-action="AddToFavorite" asp-route-productId="@produ.Id">
                            <form class="button" style="font-size: 300%" border="2px" colo>&hearts; </form>
                        </a>
                        }
                        else
                        {
                        <a asp-controller="Products" asp-action="AddToFavorite" asp-route-productId="@produ.Id">
                            <form class="button">&#10004</form>
                        </a>
                        }


                    </td>
                }

                <td><img src="/@produ.PictureLocalPath" width="60" alt="pic" /></td>
                <td>@produ.Price</td>
                <td>@produ.Description</td>

                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@produ.Id">See Details</a>
                </td>

            </tr>
        }
    </tbody>
</table>

@*<div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>
    </div>*@
