@using Microsoft.AspNetCore.Identity
@using Shopa.Data
@using Shopa.Data.Models
@model IEnumerable<Shopa.Data.Models.Order>

@{
    ViewData["Title"] = "Index";
}

@inject UserManager<ShopaUser> _UserManager;
@inject ShopaDbContext _Context
@{ var user = _UserManager.GetUserAsync(this.User).GetAwaiter().GetResult();}
@{ var isAuthenticated = User.Identity.IsAuthenticated;}


<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOfOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOfOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Products)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@if (User.IsInRole("User"))
{
    <h2> My Orders</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOfOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (_Context.Orders.Any(x => x.UserId == user.Id))
            {
                foreach (var item in _Context.Orders.Where(x => x.UserId == user.Id).ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeOfOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>

                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        }&nbsp;
                        else
                        {
                            <td class="button" style="background-color: aliceblue" >
                                
                                <a style="font-size: 20px" asp-controller="Products" asp-action="MyFavorites">G&#10084;&nbsp;&nbsp;&nbsp;T&#10084;&nbsp;&nbsp;&nbsp;FAV&#10084;RITE</a>
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                <h2><strong>Sorry, but you have no orders.</strong></h2>

            }

        </tbody>
    </table>
}
