@inject IHomeService HomeService
@using System.Linq
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Shopa.Data
@using Shopa.Data.Models
@using Shopa.Data.Models.Enums
@using Shopa.Services.Contracts
@model Shopa.Data.Models.Product
@inject UserManager<ShopaUser> _UserManager;
@inject ShopaDbContext _Context
@inject IProductService _ProductService;
@{
    ViewData["Title"] = "Details";
}


@{var prod = Html.ViewData.Model;}
@{
    var user = _UserManager.GetUserAsync(this.User).GetAwaiter().GetResult();
}
@{ var isAuthenticated = User.Identity.IsAuthenticated;}

<h2>Details</h2>

<div>
    <div>
        <h3>Products List</h3>
        <table class="table-bordered col-lg-12">
            <tr>
                @if (isAuthenticated)
                {
                    <th style="text-align: center">Add To Favorites</th>
                }
                <th style="text-align: center">Id</th>
                <th style="text-align: center">Category</th>
                <th style="text-align: center">Photo</th>
                <th style="text-align: center">Price</th>
                <th style="text-align: center">Description</th>
                @if (isAuthenticated)
                {
                    <th style="text-align: center">Quantity</th>
                }
                @*<th style="text-align: center">Add To Cart</th>*@

            </tr>

            <tr style="text-align: center">
                @if (isAuthenticated)
                {
                    <td>
                        @{ bool isActive = false;}

                        @{ var favorite = _ProductService.GetFavorite(Model.Id, user.Id);}

                        @if (favorite != null)
                        {
                            isActive = _ProductService.IsActive(Model.Id, user.Id);
                        }

                        @if (!isActive)
                        {
                            <a asp-controller="Products" asp-action="AddToFavorite" asp-route-productId="@Model.Id">
                                <form class="button" style="font-size: 300%" title="Add" border="2px" colo>&hearts; </form>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Products" asp-action="AddToFavorite" asp-route-productId="@Model.Id">
                                <form class="button" title="Added">&#10004</form>
                            </a>
                        }
                    </td>
                }

                <td>@Model.Id</td>
                <td>@Model.Category</td>
                <td><img src="/@Model.PictureLocalPath" width="60" alt="pic" /></td>
                <td>@Model.Price</td>
                <td>@Model.Description</td>
                @if (isAuthenticated)
                {
                    <td>
                        <div class="form-group">
                            <form class="button" style="color: black" asp-controller="Products" asp-action="AddToCart" asp-route-productId="@Model.Id">
                                <input type="number" name="quantity" min="1" max="100" value="1">
                                <input type="submit" value="&#x1F6D2">
                            </form>

                        </div>
                    </td>
                }
            </tr>
        </table>
        <br />
    </div>
    <hr />
    <br />
    <p>
        <a class="text-left" asp-controller="Home" asp-action="Index">Back to List</a>
    </p>
</div>
<hr />


@*ALL PRODUCTS*@
<h3> See all products in this @Model.Category</h3>
<table class="table">
    <thead>
        <tr>
            @if (isAuthenticated)
            {
                <th style="text-align: center">Add To Favorites</th>
            }
            <th style="text-align: center">Id</th>
            <th style="text-align: center">Category</th>
            <th style="text-align: center">Photo</th>
            <th style="text-align: center">Price</th>
            <th style="text-align: center">Description</th>
            <th style="text-align: center">Quantity</th>
            @if (isAuthenticated)
            {
                <th style="text-align: center">Details</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var product in _Context.Products.OrderBy(x => x.Category).Where(x => x.Category == Model.Category).ToList())
        {
            <tr style="text-align: center">
                @if (isAuthenticated)
                {
                    <td>
                        @{ bool isActive = false;}

                        @{ var favorite = _ProductService.GetFavorite(product.Id, user.Id);}

                        @if (favorite != null)
                        {
                            isActive = _ProductService.IsActive(product.Id, user.Id);
                        }

                        @if (!isActive)
                        {
                            <a asp-controller="Products" asp-action="AddToFavorite" asp-route-productId="@product.Id">
                                <form class="button" style="font-size: 300%" title="Add" border="2px" colo>&hearts; </form>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Products" asp-action="AddToFavorite" asp-route-productId="@product.Id">
                                <form class="button" title="Added">&#10004</form>
                            </a>
                        }
                    </td>
                }
                <td>@product.Id</td>
                <td>@product.Category</td>
                <td><img src="/@product.PictureLocalPath" width="60" alt="pic" /></td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                @if (isAuthenticated)
                {
                    <td>
                        <div class="form-group">
                            <form class="button" style="color: black" asp-controller="Products" asp-action="AddToCart" asp-route-productId="@product.Id">
                                <input type="number" name="quantity" min="1" max="100" value="1">
                                <input type="submit" value="&#x1F6D2">
                            </form>

                        </div>
                    </td>
                }

                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">See Details</a>
                </td>

            </tr>
        }
    </tbody>
</table>
@*ALL PRODUCTS*@