@model Shopa.Data.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeOfCreation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeOfCreation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PictureLocalPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PictureLocalPath)
        </dd>
        
        @*TODO: make product service to check the quantity of specific product in context *@

        @*<dt>
            @Html.DisplayNameFor(model => model.Store.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.Quantity)
            
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
