@using Microsoft.AspNetCore.Identity
@using Shopa.Data
@using Shopa.Data.Models
@using Shopa.Services.Contracts
@model System.Collections.Generic.List<Shopa.Data.Models.Product>
@inject UserManager<ShopaUser> _UserManager
@inject ShopaDbContext Context;
@inject IProductService _ProductService;

@{ var favorites = Context.Favorites.ToList();}
@{
    ViewBag.Title = "Products By Categories";
    Layout = "_Layout";
}
@{var user = _UserManager.GetUserAsync(this.User).GetAwaiter().GetResult();}
@{ bool isAdmin = this.User.IsInRole("Admin");}
@{ var isAuthenticated = User.Identity.IsAuthenticated;}

@if (@Html.ViewData.Model.Count > 0)
{
    <h3>All <strong>@Html.ViewData.Model.Count</strong> products in <strong>@Html.ViewData.Model.First().Category</strong> Category</h3>

    <table class="table">
        <thead>
            <tr>
                @if (isAuthenticated)
                {
                    <th style="text-align: center">Add To Favorites</th>
                }
                <th style="text-align: center">Id</th>
                <th style="text-align: center">Category</th>
                <th style="text-align: center">Photo</th>
                <th style="text-align: center">Price</th>
                <th style="text-align: center">Description</th>
                @if (isAuthenticated)
                {
                    <th style="text-align: center">Quantity</th>
                }
                <th style="text-align: center">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr style="text-align: center">
                    @if (isAuthenticated)
                    {
                        <td>
                            @{ bool isActive = false;}

                            @{ var favorite = _ProductService.GetFavorite(product.Id, user.Id);}

                            @if (favorite != null)
                            {
                                isActive = _ProductService.IsActive(favorite.ProductId, favorite.ShopaUserId);
                            }

                            @if (!isActive)
                            {
                                <a asp-controller="Products" asp-action="AddToFavorite" asp-route-productId="@product.Id">
                                    <form class="button" style="font-size: 300%" title="Add" border="2px" colo>&hearts; </form>
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Products" asp-action="AddToFavorite" asp-route-productId="@product.Id">
                                    <form class="button" title="Added">&#10004</form>
                                </a>
                            }
                        </td>
                    }

                    <td>@product.Id</td>
                    <td>@product.Category</td>
                    <td><img src="/@product.PictureLocalPath" width="60" alt="pic" /></td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    @if (isAuthenticated)
                    {
                        <td>
                            <div class="form-group">
                                <form class="button" style="color: black" asp-controller="Products" asp-action="AddToCart" asp-route-productId="@product.Id">
                                    <input type="number" name="quantity" min="1" max="100" value="1">
                                    <input type="submit" value="&#x1F6D2">
                                </form>

                            </div>
                        </td>
                    }
                    <td>
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">See Details</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Still no products in this category.</h3>
    <img src="/images/no-product-found.jpg" width="880" height="297" alt="Sorry, no products found" />
}
















































@*@using Microsoft.AspNetCore.Identity
    @using Shopa.Data
    @using Shopa.Data.Models
    @model System.Collections.Generic.List<Shopa.Data.Models.Product>
    @inject UserManager<ShopaUser> _UserManager
    @inject ShopaDbContext Context;
    @{ var favorites = Context.Favorites.ToList();}
    @{
        ViewBag.Title = "Products By Categories";
        Layout = "_Layout";
    }
    @{var user = _UserManager.GetUserAsync(this.User).GetAwaiter().GetResult();}
    @{ bool isAdmin = this.User.IsInRole("Admin");}
    @{ var isAuthenticated = User.Identity.IsAuthenticated;}

    @if (@Html.ViewData.Model.Count > 0)
    {
        <h3>All <strong>@Html.ViewData.Model.Count</strong> products in <strong>@Html.ViewData.Model.First().Category</strong> Category</h3>

        <table class="table">
            <thead>
                <tr>
                    @if (isAuthenticated)
                    {
                        <th style="text-align: center">Add To Favorites</th>
                    }
                    <th style="text-align: center">Id</th>
                    <th style="text-align: center">Category</th>
                    <th style="text-align: center">Photo</th>
                    <th style="text-align: center">Price</th>
                    <th style="text-align: center">Description</th>
                    @if (isAuthenticated)
                    {
                        <th style="text-align: center">Quantity</th>
                    }
                    <th style="text-align: center">Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prod in Model)
                {
                    <tr style="text-align: center">
                        @if (isAuthenticated)
                        {
                            <td>
                                @if (!user.Products.Contains(prod))
                                {
                                <a asp-controller="Products" asp-action="AddToFavorite" asp-route-productId="@prod.Id">
                                    <form class="button" style="font-size: 300%" border="2px" colo>&hearts; </form>
                                </a>
                                }
                                else
                                {
                                <a asp-controller="Products" asp-action="AddToFavorite" asp-route-productId="@prod.Id">
                                    <form class="button">&#10004</form>
                                </a>
                                }
                            </td>
                        }

                        <td>@prod.Id</td>
                        <td>@prod.Category</td>
                        <td><img src="/@prod.PictureLocalPath" width="60" alt="pic" /></td>
                        <td>@prod.Price</td>
                        <td>@prod.Description</td>
                        @if (isAuthenticated)
                        {
                            <td>
                                <div class="form-group">
                                    <form class="button" style="color: black" asp-controller="Products" asp-action="AddToCart" asp-route-productId="@prod.Id">
                                        <input type="number" name="quantity" min="1" max="100" value="1">
                                        <input type="submit" value="&#x1F6D2">
                                    </form>

                                </div>
                            </td>
                        }
                        <td>
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@prod.Id">See Details</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>Still no products in this category.</h3>
        <img src="/images/no-product-found.jpg" width="880" height="297" alt="Sorry, no products found" />
    }*@